.header{
    background-color: rgb(56, 218, 183);
    float: right;
    width: 100%;

}
.headerimg{
    margin-left: 50px;
    margin-top: 28px;
    float: left;
}
h1{
    float: right;
    margin-right: 300px;
    font-size: 50px;
}
.menu{
    background-color: rgb(135, 236, 240);
    text-align: center; 
    height: 150px;
}
.menu a{
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}
.form{
    margin-top: 40px;
    width: 280px;
}

#Cdiv1 ,#Cdiv2 ,#Cdiv3{
    width: 33%;
    background-color: rgb(247, 241, 234);
}
.container{
    background-color: rgb(247, 241, 234);
    height: 400px;
}
#Cdiv1{
float: left;
}
#Cdiv2{
float: left;
}
#Cdiv3{
    float: right;
    text-align: center;
}
#p{
    font-weight: bold;
    font-size: 30px;
}
#div{
    background-color: aqua;
    margin: 5px;
    height: 340px;
    padding-top: 10px;
    padding-bottom: 35px;
    
}
#sdiv{
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 10px;
    padding-bottom: 69px;
    background-color: aliceblue;
}
#Cdiv2 img{
    height: 180px;
    width: 250px;
}
.Cdivimg1{
    position: absolute;
    margin-top: 150px;

} 
.Cdivimg2{
    position: absolute;
    margin-left: 130px;
    margin-top: 60px;
}
.footer{
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    background-color: rgb(95, 157, 238);
    height: 50px;
}
.footer p{
    font-size: larger;
    font-weight: bold;
}